* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  padding: 10px 30px;
}

.header .brand {
  flex: 1;
  display: flex;
  gap: 10px;
  align-items: center;
}

.header .profile {
  flex: 1;
  text-align: end;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  left: 0;
  background-color: aquamarine;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 30px;
}

.sidebar ul li {
}

.sidebar ul li a {
  margin: 5px 0;
  padding: 10px 30px;
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
}

.sidebar ul li a:hover {
  background-color: #fff;
}

.not-clickable {
  pointer-events: none;
}
