* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}

.topbar {
  display: flex;
  background-color: aquamarine;
  padding: 10px 15px 10px 60px;
}

.topbar .brand {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5px;
}

.topbar .brand .brand-logo {
  font-size: 0.7em;
}
.topbar .brand .brand-name {
  font-size: 1.6em;
}

.toggle-label {
  z-index: 1;
  position: absolute;
  left: 14px;
  top: 7px;
}

.sidebar input {
  display: none;
}

.sidebar label {
  cursor: pointer;
}

label .bi-x {
  display: none;
}

label .bi-list {
  display: inline-block;
}

#toggle:checked ~ nav {
  transform: scale(1, 1);
}

#toggle:checked ~ nav ul li a {
  opacity: 1;
  transition: opacity ease-in-out 0.2s 0.15s;
}
#toggle:checked ~ nav ul li .profile {
  opacity: 1;
  transition: opacity ease-in-out 0.2s 0.15s;
}

#toggle:checked ~ label .bi-x {
  display: flex;
}

#toggle:checked ~ label .bi-list {
  display: none;
}

.bi {
  font-size: 2em;
}

.sidebar nav {
  z-index: 1;
  height: 100%;
  max-width: 220px;
  width: 100%;
  position: fixed;
  left: 0;
  background-color: rgb(25, 199, 141);
  transform: scale(0, 1);
  transform-origin: left;
  transition: all ease-in-out 0.3s;
}

.sidebar nav ul {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
}

.sidebar nav ul li {
  list-style-type: none;
}

.sidebar nav ul li a {
  padding: 10px 20px;
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
  text-align: left;
  opacity: 0;
  transition: opacity ease-in-out 0.15s;
}

.sidebar nav ul li a:hover {
  background-color: #fff;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity ease-in-out 0.15s;
}

.profile img {
  margin-bottom: 5px;
  border-radius: 50%;
}

.profile h1 {
  font-size: 1.3rem;
}
